/* Light Theme */
@media (prefers-color-scheme: no-preference),(prefers-color-scheme: light) {
    html {
        color: #303030;
        background-color: #ffffff;
    }
    header, aside, footer {
        background-color: #dfdfdf;
        border-right: medium solid #bfbfbf;
    }
    header {
        border-bottom: thin solid #bfbfbf;
    }
    footer {
        border-top: thin solid #bfbfbf;
    }
    footer img {
        border: thin solid #bfbfbf;
    }
    a:link {
        color: #303030;
    }
    a:visited {
        color: #303030;
    }
}
/* Dark Theme */
@media (prefers-color-scheme: dark) {
    html {
        color: #ffffff;
        background-color: #303030;
    }
    header, aside, footer {
        background-color: #505050;
        border-right: medium solid #101010;
    }
    header {
        border-bottom: thin solid #101010;
    }
    footer {
        border-top: thin solid #101010;
    }
    footer img {
        border: thin solid #101010;
    }
    a:link {
        color: #ffffff;
    }
    a:visited {
        color: #ffffff;
    }
}
main {
    font-family: 'Sitka Text';
    font-size: 130%;
    margin-left: 25%;
    margin-right: 25%;
}
header {
    height: 8%;
    width: 15%;
    padding-top: 1%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 35px;
    font-family: 'Segoe UI';
    text-align: center;
    z-index: 2;
}
aside {
    height: 76%;
    width: 13%;
    padding: 1%;
    position: fixed;
    top: 10%;
    left: 0;
    font-family: 'Candara';
    font-size: 120%;
    z-index: 1;
    overflow-y: auto;
}
footer {
    height: 8%;
    width: 14%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0.5%;
    font-size: small;
    z-index: 2;
    overflow-y: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Segoe UI';
}
footer img {
    border-radius: 15%;
}
header a:link, aside a:link, footer a:link {
    text-decoration: none;
}
a:hover {
    color: #5d74f8;
}
summary {
    list-style-type: '> ';
    font-weight: bold;
}
details[open] > summary {
    list-style-type: '˅ ';
    font-weight: bold;
}
details[open] > .aside-details {
    padding-left: 10%;
}